.MainSection
{
    padding: 20px; 
    margin: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color: red; 
    background-color:orange;
    border:3px solid maroon;
    border-radius: 50px;
}
.HeaderSection
{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: auto;
    height: auto;
    color: red; 
    background-color: yellow;
    border:3px solid maroon;
    border-radius: 50px;
}
.FormSection
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px; 
    margin: 10px;
    text-align: center;
    width: auto;
    height: auto;
    color:blue; 
    background-color:greenyellow;
    border:3px solid maroon;
    border-radius: 50px;
}
.FooterSection
{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px; 
    margin: 10px;
    text-align: center;
    width: auto;
    height: auto;
    color:red; 
    background-color:magenta;
    border:3px solid maroon;
    border-radius: 50px;
}
.submit
{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    border:2px solid black;
    border-radius: 50%;
    color: red;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:none;

}
.reset
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 50%;
    color:  red;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:none;

}
button
{
    margin:30px;
    border:2px solid red;
    border-radius: 40px;
    padding: 10px;
    display: inline;
    cursor: pointer;
    background-color:greenyellow;
}
a
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.MainSection-home
{
    padding: 20px; 
    margin: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color: red; 
    background-color:orange;
    border:3px solid maroon;
    border-radius: 50px;
}
.HeaderSection-home
{
    display:inline-block;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    width: auto;
    height: auto;
    margin: 20px;
    color: red; 
    background-color: yellow;
    border:3px solid maroon;
    border-radius: 50px;
}
.FormSection-home
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px; 
    margin: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color:blue; 
    background-color:greenyellow;
    border:3px solid maroon;
    border-radius: 50px;
}
.FooterSection-home
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px; 
    margin: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color:white; 
    background-color:magenta;
    border:3px solid maroon;
    border-radius: 50px;
}
img
{
    height: 8%;
    width: 8%;
    margin-top: 5px;
    border:2px solid blue;
    border-radius: 100%;
    display: inline;
    float: left;
}